body { 
	/*navbar-fixed-top*/
	/*padding-top: 70px; */
}

/**
 * HEADER
 */
.navbar-brand { 
	font-family: 'Courgette', cursive;
	font-size: 35px;
	letter-spacing: 2px;
}

.navbar {
	background-color: #FB0C06;
	border-color: #FB0C06;
	border: none;
	border-radius: 0;
}

.navbar a.navbar-brand {
	color: #fff;
}
.navbar a.navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-toggle {
	color: #fff;
	border: none;
}
.navbar-default .navbar-toggle:focus ,
.navbar-default .navbar-toggle:active ,
.navbar-default .navbar-toggle:hover {
	background: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-align: center;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #FFC52C;
}


/**
 * new menu

 mobile - 
 on first menu block
	border-left: solid 1px #ccc;
 on last menu block
	border-right: solid 1px #ccc;

 */

.logo {
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	letter-spacing: 0px;
	font-weight: normal;
	/*text-align: center;*/
	color: #AC4147;

	float:left;
	height: 50px;
	line-height: 50px;
}

.menu {
	float: right;
}

.menu .menu-block {
	text-align: center;
	height:50px;
	line-height: 50px;
	padding: 0;
	width: 50px;
}
	
	/*
	 mobile for menu-block
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;*/
.menu .menu-block.first {
	border-left: none;
}
.menu .menu-block.last {
	border-right: none;
}
.menu .menu-block a {
	display: block;
	color: #AC4147;
}

/**
 * CONTENT
 */

.flash {
	text-align: center;
}

.reason {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ccc;
}

.report {
	float: right;
}









